div {
    background-color: none;
  }
  
  footer {
    border: 2px solid 	#8B008B;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 	#FFE4B5;
    color: white;
    text-align: center;
    padding-top: 10px;
  }
  
  footer:focus {
      outline: none;
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
  }
  
  #PostTitle {
    color:black;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    padding-right: 2px;
  }
  
  #forumTitle {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
  }
  
  .forumHeader {
    display: flex;
    justify-content: space-between;
  }
  
  .forumHeaderText {
    display: flex;
    flex-direction: column;
    padding-left: 280px;
  }
  
  #noPosts {
    text-align: center;
    color: gold;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  
  .forum {
    padding-left: 20px;
  }
  
  #first {
    border-style: solid;
    padding:20px;
    border-radius: 25px;
  }
  
  #textbox {
    border-style: solid;
    padding:20px;
    border-radius: 25px;
  }
  
  #textbox .dropdown {
    float: right;
    display: none;
  }
  /* .fillerText {
    border-style: solid;
    padding:20px;
    font-family: "Lato", sans-serif;
    border-radius: 25px;
  } */
  
  .chatMessage {
    border-style: solid;
    padding:20px;
    border-radius: 25px;
  }
  
  /* #second {
    border-style: solid;
    padding:20px;
    border-radius: 25px;
  } */
  
  .commentListBox {
    border-style: solid;
    padding:20px;
    border-radius: 25px;
  }
  
  #commentList1 {
   font-family: 'Raleway', sans-serif;
  }
  
  #commentList2 {
   font-family: 'Raleway', sans-serif;
  }
  
  #textSpace1 {
     font-family: 'Raleway', sans-serif;
  }
  
  #textSpace2 {
     font-family: 'Raleway', sans-serif;
  }
  
  .postBoxes {
    background-color:rgb(238, 224, 148);
    border-style:solid;
    border-color:goldenrod;
    float: left;
    width: 65%;
    padding:40px;
    padding-left: 10px;
    border-radius: 25px;
    margin-top: 50px;
  }
  
  .survey{
    float:right;
    width: 16.5%;
    padding-top: 20px;
    background-color:goldenrod;
  }
  
  #user{
    float: left;
    /* display: flex; */
  }
  
  .userimage {
    width: 100px;
    height: 75px;
    min-height: 0px;
    min-width: 0px;
    float: left;
  }
  .three{
    padding-left: 40px;
    padding-right: 40px;
  }
  #textcolumn {
    float: right;
    width: 90%;
    border-radius: 25px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .survey {
    padding-left:57px;
    /* color:white; */
  }
  
  .sidenav {
    width: 208px;
    font-family: "Oleo Script";
    position: fixed;
    z-index: 1;
    top: 334px;
    left: 1050px;
    background:	gold;
    overflow-x: hidden;
    padding: 5px 0;
  }
  
  .sidenav a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    /* font-weight: bold; */
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  button {
    background:none;
  }
  
  .circle1 {
    border-radius: 50%;
    padding: 10px 5px;
  }
  
  .usernames {
    padding-bottom: 30px;
    font-size: 40px;
    /* float: left; */
    padding-left: 10px;
    margin-left: -40px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 180px;
    /* padding: 60px 0 0; */
    border: none;
    /* font: normal 40px/0.65 "Squada One", Helvetica, sans-serif; */
    font-family: 'Concert One', cursive;
    color: black;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 8px 5px 0 rgba(188,188,188,1) ;
    margin-top:10px;
  }
  
  .topnav .search-container button {
    padding: 30px 30px;
    margin-top: 100px;
    margin-right: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  body {
   min-height: 450px;
   background-color:		#FFE4E1;
   height: 100vh;
   margin: 0;
   background-image: url("blackyellow.png")
  }
  .comments{
    padding: 20px;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
      /* padding-right:20px; */
  }
  
  #dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color:white;
      min-width: 130px;
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
      padding: 5px 10px;
      z-index: 1;
  }
  
  #boogif {
    padding-right: 30px;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*   
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    } */


.img{
    width: 13%;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:16px;
    
}