/*PUT THIS INTO STYLE.CSS*/
.title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.secondpage {
    /* Sizing */
    width: 100vw;
    height: 100vh;
}

.secondpage {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondpage p {
    /* Text styles */
    font-size: 1em;
}
.secondpage {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url("vintage-wallpaper-background_53876-31379.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.secondpage {
    /* Sizing */
    width: 500vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: black; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url("vintage-wallpaper-background_53876-31379.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.secondpage-inner {
    width: 1500px;
}

.secondpage h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.secondpage {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("vintage-wallpaper-background_53876-31379.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
